<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../styles/shop.css" />

    <title>Product Page</title>
  </head>
  <body>
    <% if (success.length > 0) { %>
    <div class="error-message"><%= success[0] %></div>
    <% } %> <%- include('partials/header.ejs') %> <%-
    include('partials/MenuHeader.ejs') %> <%- include('partials/home.ejs') %>
    <hr />
    <%- include('partials/Autopilot.ejs') %>
    <hr />

    <%- include('partials/shop.ejs') %>
  </body>
</html>
